header {
  background-color: #000000;
  color: #ffffff;
  height: 30px;
  text-align: center;
  padding: 30px;
}
footer {
  background-color: #228B22;
  color: #ffffff;
  height: 30px;
  padding: 30px;
}
table {
  border: 2px solid;
  border-collapse: collapse;
  width: 100%;
}
td {
  width: 25%;
  text-align: center;
}
img {
  padding-top: 5px
}
#white {
  background-color: #ffffff;
  color: #000000;
}
#red {
  background-color: #FF0000;
  color: #000000;
}
#yellow {
  background-color: #FFFF00;
  color: #000000;
}
#blue {
  background-color: #0000FF;
  color: #000000;
}
#pink {
  background-color: #FFC0CB;
  color: #000000;
}
#orange {
  background-color: #FFA500;
  color: #000000;
}
#green {
  background-color: #008000;
  color: #000000;
}
#lightblue {
  background-color: #ADD8E6;
  color: #000000;
}
#salmon {
  background-color: #FA8072;
  color: #000000;
}
#lightgreen {
  background-color: #90EE90;
  color: #000000;
}
#turquoise {
  background-color: #40E0D0;
  color: #000000;
}
#purple {
  background-color: #800080;
  color: #000000;
}
#khaki {
  background-color: #F0E68C;
  color: #000000;
}
#palegreen {
  background-color: #98FB98;
  color: #000000;
}
#fuchsia {
  background-color: #FF00FF;
  color: #000000;
}
#plum {
  background-color: #DDA0DD;
  color: #000000;
}
